**Object Oriented Programming**

In [316]:
class school :
    
    schoolname = 'ABC School'
    city       = 'Bangalore'

class -> a keyword 
school -> school is a name with which our class will be identified
schoolname -> a class attribute

In [317]:
a = school()

In [318]:
a.schoolname

'ABC School'

In [319]:
a.city

'Bangalore'

In [320]:
b = school()

In [321]:
b.schoolname

'ABC School'

In [322]:
b.city

'Bangalore'

In [323]:
school.schoolname

'ABC School'

In [324]:
school.city

'Bangalore'

In [379]:
class school :
    
    schoolname = 'ABC School'
    city       = 'Bangalore'
    
    def storeInfo(student, name, age) :   #  student = student1, name = John, age = 15
        student.name = name
        student.age = age
    
    def printInfo(student) :
        print(f"school   : {school.schoolname}")
        print(f"city     : {school.city}")
        print(f"name     : {student.name}")
        print(f"age      : {student.age}")
        print()

In [370]:
student1 = school()

In [371]:
student1

In [342]:
student1.schoolname

'ABC School'

In [343]:
student1.city

'Bangalore'

In [344]:
school.storeInfo(student1, 'John', 15)

In [345]:
student1.name, student1.age

('John', 15)

In [346]:
student2 = school()

In [347]:
school.storeInfo(student2, 'Julie', 12)

In [348]:
student2.schoolname

'ABC School'

In [349]:
student2.city

'Bangalore'

In [350]:
student2.name

'Julie'

In [351]:
student2.age

12

In [352]:
school.printInfo(student1)

school   : ABC School
city     : Bangalore
name     : John
age      : 15

In [353]:
school.printInfo(student2)

school   : ABC School
city     : Bangalore
name     : Julie
age      : 12

In [354]:
import numpy as np

In [381]:
name = [''.join(np.random.choice(list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'), 6)).capitalize() for i in range(1,101)]
age = np.random.randint(12, 16, 100)

In [382]:
name_age = list(zip(name,age))

In [383]:
objects =   [ school()  for i in range(1,101) ]

In [384]:
dummy = [ school.storeInfo(objects[i],j[0],j[1])  for i,j in enumerate(name_age) ]

In [385]:
objects[1].printInfo()

school   : ABC School
city     : Bangalore
name     : Guqmvd
age      : 12

In [387]:
for i in range(100) :
    objects[i].printInfo()

school   : ABC School
city     : Bangalore
name     : Zfrxyp
age      : 14

school   : ABC School
city     : Bangalore
name     : Guqmvd
age      : 12

school   : ABC School
city     : Bangalore
name     : Asmuzh
age      : 15

school   : ABC School
city     : Bangalore
name     : Jlbtta
age      : 13

school   : ABC School
city     : Bangalore
name     : Xctykb
age      : 13

school   : ABC School
city     : Bangalore
name     : Dftakz
age      : 14

school   : ABC School
city     : Bangalore
name     : Izvtrr
age      : 13

school   : ABC School
city     : Bangalore
name     : Evuxkz
age      : 12

school   : ABC School
city     : Bangalore
name     : Mhxgbl
age      : 13

school   : ABC School
city     : Bangalore
name     : Cfvhie
age      : 13

school   : ABC School
city     : Bangalore
name     : Ofmopw
age      : 12

school   : ABC School
city     : Bangalore
name     : Byzzoy
age      : 12

school   : ABC School
city     : Bangalore
name     : Tshygz
age      : 13

school   : ABC School
city     : Bangalore
name     : Nhrrsw
age      : 15

school   : ABC School
city     : Bangalore
name     : Vprhms
age      : 15

school   : ABC School
city     : Bangalore
name     : Tkewse
age      : 13

school   : ABC School
city     : Bangalore
name     : Kgelnc
age      : 12

school   : ABC School
city     : Bangalore
name     : Vjqmpj
age      : 15

school   : ABC School
city     : Bangalore
name     : Psvjic
age      : 14

school   : ABC School
city     : Bangalore
name     : Orqswo
age      : 15

school   : ABC School
city     : Bangalore
name     : Jofjne
age      : 12

school   : ABC School
city     : Bangalore
name     : Dxhegg
age      : 14

school   : ABC School
city     : Bangalore
name     : Qlkafj
age      : 12

school   : ABC School
city     : Bangalore
name     : Kfiojx
age      : 13

school   : ABC School
city     : Bangalore
name     : Fxyyvd
age      : 15

school   : ABC School
city     : Bangalore
name     : Virymd
age      : 15

school   : ABC School
city     : Bangalore
name     : Fwwfzf
age      : 12

school   : ABC School
city     : Bangalore
name     : Jlayhw
age      : 12

school   : ABC School
city     : Bangalore
name     : Fzhsal
age      : 13

school   : ABC School
city     : Bangalore
name     : Hkhehf
age      : 13

school   : ABC School
city     : Bangalore
name     : Bftkua
age      : 14

school   : ABC School
city     : Bangalore
name     : Lzguxn
age      : 12

school   : ABC School
city     : Bangalore
name     : Sgkadq
age      : 13

school   : ABC School
city     : Bangalore
name     : Fmwcxv
age      : 15

school   : ABC School
city     : Bangalore
name     : Rjnsna
age      : 12

school   : ABC School
city     : Bangalore
name     : Dlcwzp
age      : 14

school   : ABC School
city     : Bangalore
name     : Edszle
age      : 12

school   : ABC School
city     : Bangalore
name     : Tlulal
age      : 12

school   : ABC School
city     : Bangalore
name     : Mgbloy
age      : 14

school   : ABC School
city     : Bangalore
name     : Cwwwfq
age      : 13

school   : ABC School
city     : Bangalore
name     : Tlkiej
age      : 13

school   : ABC School
city     : Bangalore
name     : Hfaife
age      : 13

school   : ABC School
city     : Bangalore
name     : Vbtpgo
age      : 13

school   : ABC School
city     : Bangalore
name     : Dnrsrl
age      : 15

school   : ABC School
city     : Bangalore
name     : Kjnyye
age      : 12

school   : ABC School
city     : Bangalore
name     : Fdtzzd
age      : 15

school   : ABC School
city     : Bangalore
name     : Fnptnx
age      : 14

school   : ABC School
city     : Bangalore
name     : Yciyar
age      : 14

school   : ABC School
city     : Bangalore
name     : Mhehha
age      : 14

school   : ABC School
city     : Bangalore
name     : Fhbuel
age      : 12

school   : ABC School
city     : Bangalore
name     : Vavhiq
age      : 12

school   : ABC School
city     : Bangalore
name     : Slxjis
age      : 13

school   : ABC School
city     : Bangalore
name     : Lnxjkf
age      : 13

school   : ABC School
city     : Bangalore
name     : Uhzssj
age      : 12

school   : ABC School
city     : Bangalore
name     : Kdctsy
age      : 12

school   : ABC School
city     : Bangalore
name     : Ohhzhc
age      : 14

school   : ABC School
city     : Bangalore
name     : Sihrxp
age      : 12

school   : ABC School
city     : Bangalore
name     : Xtdhoa
age      : 14

school   : ABC School
city     : Bangalore
name     : Xwfswy
age      : 15

school   : ABC School
city     : Bangalore
name     : Escyul
age      : 13

school   : ABC School
city     : Bangalore
name     : Csvxon
age      : 15

school   : ABC School
city     : Bangalore
name     : Klknml
age      : 15

school   : ABC School
city     : Bangalore
name     : Wuusiw
age      : 13

school   : ABC School
city     : Bangalore
name     : Epfzqr
age      : 13

school   : ABC School
city     : Bangalore
name     : Vazoqf
age      : 12

school   : ABC School
city     : Bangalore
name     : Yyykdq
age      : 15

school   : ABC School
city     : Bangalore
name     : Vicxln
age      : 13

school   : ABC School
city     : Bangalore
name     : Tmrxdm
age      : 13

school   : ABC School
city     : Bangalore
name     : Jpkbug
age      : 14

school   : ABC School
city     : Bangalore
name     : Ajtyfu
age      : 13

school   : ABC School
city     : Bangalore
name     : Dvssqb
age      : 13

school   : ABC School
city     : Bangalore
name     : Jlodwy
age      : 15

school   : ABC School
city     : Bangalore
name     : Rogwzs
age      : 12

school   : ABC School
city     : Bangalore
name     : Edgmbt
age      : 14

school   : ABC School
city     : Bangalore
name     : Qnytax
age      : 12

school   : ABC School
city     : Bangalore
name     : Dovwsm
age      : 13

school   : ABC School
city     : Bangalore
name     : Vqaikr
age      : 13

school   : ABC School
city     : Bangalore
name     : Qxezus
age      : 14

school   : ABC School
city     : Bangalore
name     : Xtxilv
age      : 13

school   : ABC School
city     : Bangalore
name     : Njzxky
age      : 15

school   : ABC School
city     : Bangalore
name     : Dayyfy
age      : 15

school   : ABC School
city     : Bangalore
name     : Jayhwe
age      : 13

school   : ABC School
city     : Bangalore
name     : Npaadg
age      : 13

school   : ABC School
city     : Bangalore
name     : Kflszh
age      : 13

school   : ABC School
city     : Bangalore
name     : Dcuarm
age      : 14

school   : ABC School
city     : Bangalore
name     : Qfskky
age      : 14

school   : ABC School
city     : Bangalore
name     : Qfvrco
age      : 15

school   : ABC School
city     : Bangalore
name     : Lcyagg
age      : 15

school   : ABC School
city     : Bangalore
name     : Wgldac
age      : 12

school   : ABC School
city     : Bangalore
name     : Iiwgvp
age      : 13

school   : ABC School
city     : Bangalore
name     : Zycksc
age      : 15

school   : ABC School
city     : Bangalore
name     : Sxkmfu
age      : 12

school   : ABC School
city     : Bangalore
name     : Jpbkbk
age      : 15

school   : ABC School
city     : Bangalore
name     : Ynblzx
age      : 14

school   : ABC School
city     : Bangalore
name     : Glnjat
age      : 13

school   : ABC School
city     : Bangalore
name     : Etazdz
age      : 13

school   : ABC School
city     : Bangalore
name     : Iokkhp
age      : 12

school   : ABC School
city     : Bangalore
name     : Zqvxtp
age      : 12

school   : ABC School
city     : Bangalore
name     : Lsouam
age      : 13

school   : ABC School
city     : Bangalore
name     : Ngmowp
age      : 15

In [389]:
name_age[0]

('Zfrxyp', 14)